.content {
  display: grid;
  gap: 0.5em;
  grid-template-rows: 20em auto 20em;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  overflow-y: hidden;
}

fieldset {
  min-width: 0;
}

pre {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: inherit;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.container-operation {
  height: 100%;
  overflow-y: auto;
}

.container-parameters {
  height: 100%;
  overflow-y: auto;
}

.active-operation {
  @apply font-semibold text-lime-500;
}
